{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container">
    <div class="headerProfile">
        <div class="avatar">
            <img src="">
        </div>
        <div class="userName">
            <h2>{{user.name}}</h2>
        </div>
        <div class="addicionalProfileInfos">
            <div class="email">{{user.email}}</div>
            <div class="location">{{user.city.city_name}} - {{user.city.state.state_name}} -
                {{user.city.state.country.country_name}}</div>
        </div>
        <div class="buttons">
            <div class="buttonEdit">
                <a href="{{ url_for('editUserPage') }}">
                    <button id="editProfile">Editar perfil</button>
                </a>
            </div>
            <div class="buttonDeleteAccount">
                <form action="{{url_for('deleteAccount')}}" method="POST"
                    onsubmit="return confirm('Tem certeza que deseja remover a sua conta?');">
                    <button id="deleteAccount" type="submit">Deletar conta</button>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}