{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container">
    <div class="headerProfile">
        <div class="avatar">
            <img src="">
        </div>
        <div class="userName">
        <h2>teste</h2>
    </div>
    <div class="addicionalProfileInfos">
    <div class="email">Email do usuário</div>
    <div class="location">Cidade do usuário</div>
</div>
    <div class="buttons">
        <div class="buttonEdit">
            <button id="editProfile">Editar perfil</button>
        </div>
        <div class="buttonDeleteAccount">
            <button id="deleteAccount">Deletar conta</button>
        </div>
    </div>
</div>

{% endblock %}